html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



header {
    background: #444444;
}

header .navbar .nav-link {
    color: #fff;
    font-size: 16px;
}

header .navbar .nav-link:hover {
    color: #18cfab !important;
}

header .navbar .my-nav {
    background-color: #444444;
}

header .banner-section {
    padding: 100px 0;
    color: #FFFFFF;
}

header .banner-section h3 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

header .banner-section h1 {
    font-weight: 800;
    font-family: 'Play', sans-serif;
}

header .banner-section h2 {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}

header .banner-section p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.5;
    text-transform: capitalize;
}

header .box {
    width: 500px;
    background: #303030;
    overflow: hidden;
    text-align: center;
}

header .box .col-md-3 {
    padding: 40px 0;
}

header .box h1 {
    font-size: 30px;
}

header .box p {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0;
}

header .box .text {
    margin-bottom: 60px;
    padding-left: 100px;
}

header .box .user {
    padding: 0 20px;
}

header .box .user .icons {
    float: left;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
}

header .box .user .details {
    float: left;
}

header .box .user .details h3 {
    font-size: 25px;
    text-transform: uppercase;
}

header .box .user .details p {
    font-size: 12px;
}

header .box .color {
    background: linear-gradient(to right, #f71111 0%, #ff731c 100%);
    color: #fff;
    text-align: center;
}

header .box .color .yellow {
    padding-left: 113px;
    padding-right: 110px;
}

header .box .color .yellow h4 {
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 20px;
}

header .box .color .yellow img {
    max-width: 300px;
    max-height: 80px;
}

header .box .last {
    padding-left: 150px;
    padding-right: 133px;
    background: #ffffff;
}

header .box .last p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px 0;
    color: #000;
}


.explore-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.explore-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.explore-section h1 span {
    color: #FF512F;
}

.explore-section p {
    font-size: 16px;
    line-height: 1.5;
}

.explore-section .explore-now {
    margin-top: 30px;
}

.explore-section .explore-now a {
    color: #FF5150;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.explore-section .explore-now a i {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border: 1px solid #FF5150;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}

.explore-section .right {
    border: 1px solid #000;
    padding: 150px 70px;
    position: relative;
}

.explore-section .right::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/bb.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    top: 30px;
}

.event-section {
    background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
}

.event-section h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 20px;
}

.event-section p {
    max-width: 700px;
    margin: auto;
    line-height: 1.4;
}

.event-section h2 {
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.event-section .row .description {
    color: #595959;
    line-height: 1.3;
    font-size: 20px;
    text-align: justify;
}

.event-section .explore-now {
    margin-top: 30px;
}

.event-section .explore-now a {
    color: #FF5150;
    font-size: 18px;
}

.event-section .explore-now a i {
    margin-left: 12px;
    width: 30px;
    height: 30px;
    border: 1px solid #FF5150 !important;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.speaker-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/speaker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.speaker-section h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

.speaker-section .team {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.speaker-section .team:hover .icon {
    opacity: 1;
}

.speaker-section .team:hover .img::before {
    transform: scale(1);
}

.speaker-section .team .img {
    position: relative;
    overflow: hidden;
}

.speaker-section .team .img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0);
    top: 0;
    left: 0;
    background: linear-gradient(to right, #f71111 0%, #ff731c 100%);
    transition: all .3s linear;
}

.speaker-section .team .title h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.speaker-section .team .title p {
    font-size: 10px;
}

.speaker-section .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s linear;
    opacity: 0;
    color: red;
}

.speaker-section .icon a i {
    color: #fff;
    width: 30px;
    height: 32px;
    line-height: 32px;
    background: gray;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    transition: all .6s linear;
    padding-left: 5px;
}

.speaker-section .icon i:hover {
    transform: rotate(360deg) scale(1.1);
}


.summit-section {
    background-color: #281e9e;
    padding-top: 100px;
    padding-bottom: 80px;
}

.summit-section h1 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}

.summit-section .title {
    max-width: 1000px;
    margin: auto;
}

.summit-section .button {
    margin-top: 30px;
}

.summit-section .button .btn {
    border: 1px solid #fff;
    padding: 10px 50px;
    color: #fff;
    border-radius: 0;
    position: relative;
}

.summit-section .button .btn:focus {
    box-shadow: none;
}

.summit-section .button .btn::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-right: none;
}

.sponsor-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sponsor-section h1 {
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 15px;
}

.customer-section {
    background-color: #1c1c1c;
    padding-top: 100px;
    padding-bottom: 100px;
}

.customer-section h1 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}

.customer-section .title {
    max-width: 1000px;
    margin: auto;
    line-height: 1.5;
}

.customer-section .button {
    margin-top: 40px;
}

.customer-section .button .btn {
    border: 1px solid #fff;
    padding: 15px 70px;
    color: #fff;
    border-radius: 0;
    position: relative;
}

.customer-section .button .btn::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.customer-section .button .btn:focus {
    box-shadow: none;
}



.post-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f7f7f7;
}

.post-section video {
    height: 190px;
    width: 320px;
}

.post-section h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
}

.post-section h2 {
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 12px;
}

.post-section span {
    font-size: 15px;
}

.post-section .l1 {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #000;
}

.post-section p {
    margin-top: 20px;
    line-height: 1.4;
    font-size: 18px;
    align-content: justify;
    font-family: 'Open Sans', sans-serif;
}

.post-section .p1 {
    margin-top: 30px;
}

.post-section .p1 a {
    color: #FF5150;
    transition: all .6s linear;
}

.post-section .p1 a:hover {
    color: #000;
}

.post-section .p1 a i {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border: 1px solid #FF5150;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}

.asees-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #7A7A7A;
    position: relative;
}

.asees-section .main {
    position: absolute;
    bottom: 30px;
    left: 800px;
}

.asees-section .main .box {
    background: linear-gradient(to right, #f71111 0%, #ff731c 100%);
    padding: 40px 50px;
    width: 500px;
    color: #fff;
    text-align: center;
}

.asees-section .main .box h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Play', sans-serif;
}

.asees-section .main .box p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Play', sans-serif;
}

.footer-section {
    padding: 100px 0;
    background: #313131;
}

.footer-section h2 {
    font-size: 20px;
    margin: 10px 0;
}

.footer-section form input {
    padding: 10px 40px;
    margin-top: 20px;
}

.footer-section .form-inline {
    justify-content: center;
    padding-top: 15px;
}

.footer-section ul {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 300px;
    margin-top: 40px;
}

.footer-section ul li {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: .6s;
}

.footer-section ul li a i {
    color: #ddd;
    line-height: 2.2;
    transition: .6s;
}

.footer-section ul li a i:hover {
    color: #ff731c;
    transform: rotate(360deg) scale(1.8);
}

.copyright {
    padding: 30px;
    background: #2D2D2D;
    text-align: center;
    color: #ddd;
}

.copyright p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Play', sans-serif;
    color: #ff731c;
}
